<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="produit">
      <h2 data-cy="produitDetailsHeading"><span jhiTranslate="coopcycleApp.produit.detail.title">Produit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ produit.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.productName">Product Name</span></dt>
        <dd>
          <span>{{ produit.productName }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.description">Description</span></dt>
        <dd>
          <span>{{ produit.description }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.productPrice">Product Price</span></dt>
        <dd>
          <span>{{ produit.productPrice }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.image">Image</span></dt>
        <dd>
          <div *ngIf="produit.image">
            <a (click)="openFile(produit.image, produit.imageContentType)">
              <img [src]="'data:' + produit.imageContentType + ';base64,' + produit.image" style="max-width: 100%" alt="produit image" />
            </a>
            {{ produit.imageContentType }}, {{ byteSize(produit.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.restaurant">Restaurant</span></dt>
        <dd>
          <span *ngFor="let restaurant of produit.restaurants; let last = last">
            <a [routerLink]="['/restaurant', restaurant?.id, 'view']">{{ restaurant.restaurantName }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt>QRCode</dt>
        <dd>
          <div>
            <qr-code [value]="'/produit/produit.id/view'" [size]="150"></qr-code>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
